button{
    margin: auto;
    color: rgb(4, 49, 49);
}
a:hover{
    color: rgb(2, 27, 2);
    text-decoration: underline;
}
a:visited{
    color: grey;
}
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: italic;
    font-weight: bolder;
}
.pa{
    font-family: Arial, Helvetica, sans-serif;
    font-size: italic;
    font-weight: bolder;
    color: red;
}
body{
    background-image: url("../image/fde.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
}
